.movie-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;

}
.movie-detail-wrap {
    width: 1300px;
    height: 100vh;

    margin-top: 75px;
}
.movie-detail-context {
    display: flex;
}

.movie-detail-img {
    width: 2000px;
    height: 700px;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
    background-position: center;
    border-radius: 20px;
}
.movie-detail-description {
    margin-left: 50px;
    margin-top: 50px;
}
.movie-detail-description > h1 {
    color: white;
}
.movie-detail-genre {
    display: inline-block;
    background-color: red;
    margin-left: 10px;
    padding: 1px;
    border-radius: 10px;
}
.d-d {
    font-size: 20px;
    color: white;
}
.movie-detail-description > .cart-text {
    font-size: 20px;
    color: white;
    margin-bottom: 5px;
}

.recommended-movie {
    margin-top: 20px;
}
.movie-reviews {
    margin-top: 2rem;
}

.review {
    border: 3px solid red;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.review h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.movie-reviews {
    color: white;
}
.review-content {
    font-size: 1rem;
    line-height: 1.5;
    max-height: 4.5rem; /* Adjust this value to control the number of visible lines */
    overflow: hidden;
    position: relative;
}

.review-content.expanded {
    max-height: none;
}

.review-toggle-btn {
    background: none;
    border: none;
    background: red;
    padding: 10px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 5px;
}

.review-toggle-btn:focus {
    outline: none;
}
