.navbar {
    height: 75px;
    position: fixed;
    width: 100%;
    transition: background-color 0.3s ease; 
    background-color: transparent; 
    z-index: 10;
    font-weight: 700;
}
.navbar.scrolled {
    background-color: black; 
}
.logo {
    width: 100px;
    margin-left: 45px;
}
.nav {
    color: #e5e5e5;
    font-size: 14px;
}
.nav:hover {
    color: rgba(229, 229, 229, 0.7) !important;
}
.nav.active {
    color: #fff !important;
}

.search-button {
    background-color: red;
}
.search-button:hover {
    background-color: yellow;
    color: black;
}
.nav-logo {
    cursor: pointer;.navbar {
    height: 75px;
}
.logo {
    width: 100px;
    margin-left: 45px;
}
.nav {
    color: #e5e5e5;
    font-size: 14px;
}
.nav:hover {
    color: rgba(229, 229, 229, 0.7) !important;
}
.nav.active {
    color: #fff !important;
}
.navbar {
    background-color: black !important;
}
.search-button {
    background-color: red;
}
.search-button:hover {
    background-color: yellow;
    color: black;
}
.nav-logo {
    cursor: pointer;
}
.d-flex > input {
    background-color: lightgray;
}
.d-flex > input::placeholder {
    color: lightslategrey;
}
.me-auto {
    gap: 2px;
    margin-left: 12px;
}

}
.d-flex > input {
    background-color: lightgray;
}
.d-flex > input::placeholder {
    color: lightslategrey;
}
.me-auto {
    gap: 2px;
    margin-left: 12px;
}
